.main_div {
  background-color: #ffc2a0;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
h1{
  color: #ff8542;
  font-size: 50px;
}
.todo_container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  width: 800px;
}
ul {
  list-style: none;
}
